<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Offers</h1>
        <p>Average Price: {{ avg_price }} zł</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lp</th>
                    <th>Address</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Dates</th>
                    <th>Prices</th>
                </tr>
            </thead>
            <tbody>
                {% for idx, (key, values) in enumerate(offers.items(), start=1) %}
                    <tr>
                        <td>{{ idx }}</td>
                        <td>{{ key[0] }}</td>
                        <td>{{ key[1] }}</td>
                        <td><a href="{{ key[2] }}" target="_blank">Link</a></td>
                        <td>{{ values['dates'] | join(', ') }}</td>
                        <td>{{ values['prices'] | join(', ') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
